<div class="container mt-5">
    <a href='/dashboard/add'class='btn btn-secondary' type='submit' id='new-post'>New Post</a>


    {{#each posts as |post|}}
    {{>post-card post}}
    {{/each}}

</div>

