<div class="container mt-5">
    <section class='mb-5'>

        <form style="width:80%;" class='m-auto' id='new-post'>
            <h3>Add New Post</h3>
            <div class="form-group">
                <label for="new-post-title">Title</label>
                <input type="text" class="form-control" id="new-post-title">

            </div>
            <div class="form-group">
                <label for="new-post-content">Content</label>
                <textarea type="textarea" class="form-control" id="new-post-content"></textarea>
            </div>
            <div>
                <button class='btn btn-secondary' type='submit'>Add Post</button>
            </div>
    </section>

    {{#each posts as |post|}}
    {{>post-card post}}
    {{/each}}
</div>

<script src='/javascript/add-post.js'></script>