<div class="container mt-5">
    <form class='login-form'>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="login-username">

        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="login-password">
        </div>
        <div>
            <button class='btn btn-secondary' type='submit'>Login</button>
        </div>
        <p class='d-inline'>Don't have an account? Sign up </p><span><a href='/signup'>here</a></span>
        </form>
</div>

<script src="/javascript/login.js"